/* Zdefiniowanie podstawowej skórki dla elementów */

/* Globalne */
@mixins        : 'default';
@site          : 'default';
@reset         : 'default';
@colors        : 'default';

/* Czcionki */
@font-awesome  : 'default';

/* Kolekcje */
@grid          : 'default';
@form          : 'default';

/* Moduły */

/* Ścieżka do skórek */
@themesFolder  : 'themes';

/* Zaimportowanie ścieżek */
@import "theme.less";
